<div class="content">
		
	<p>{{{l "intro" count=(get bookingTimeslots "page.recordCount")}}}</p>

	<button {{linkTo "candidate.declaration.index"}} class="ui fluid button">
		{{l "button"}}
	</button>

</div>