<ui-checkbox checked={{filter.value}} class="big toggle">
	
	<input type="checkbox" checked={{checked}}>
	<label>{{t (concat "filters." _._.key "." (fallback _.filter.titleKey _.filter.key))}}</label>
	
</ui-checkbox>