<ui-dropdown value={{filter.value}} class="fluid selection">
	<i class="dropdown icon"></i>
	<div class="default text"></div>
	<div class="menu">
		{{#each years as |year|}}
			<div class="item">{{year}}</div>
		{{/each}}
	</div>
</ui-dropdown>