<div class="ui blue inverted segment">
    
    <div class="ui inverted form">

        {{#if addFieldsTag}}

            <div class="fields">

                {{yield}}

            </div>

        {{else}}
            {{yield}}
        {{/if}}

    </div>

</div>